@import "../../variables.scss";

main {
  margin: 10px;
  h1 {
    color: black;
    font-size: 40px;
  }

  h2 {
    color: black;
    margin: 20px 0;
  }

  p {
    font-size: 15px;
    margin-top: 10px;
  }

  .dashboard-content {
    margin-top: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
  }

  .track-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
