@import "../../variables.scss";

nav {
  padding: 8px 20px;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid $grey-color;
  background-color: rgba(255, 255, 255, 0.301);
  position: sticky;
  z-index: 10;
  top: 0;
  height: 30px;

  .nav-content {
    max-width: 1024px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
  }

  .mobile {
    align-items: center;
    @media (max-width: 600px) {
      display: flex;
    }

    .page{
      font-size: large;
      margin-left: 10px;
      font-weight: 600;
    }

    .menu-btn {
      display: none;
      border: none;
      background: none;
      cursor: pointer;
      flex-direction: row;
      display: flex;
      align-items: center;
      padding: 4px;

      &:hover {
        background-color: $light-grey-color;
        border-radius: 100%;
      }

      .menu-icon {
        height: 24px;
        width: 24px;
      }
    }
  }

  .left-nav {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 600px) {
      display: none;
    }

    .nav-item {
      color: #333333;
      text-decoration: none;
      font-size: 15px;
      padding: 5px 8px;
      border-radius: 6px;

      &:hover {
        background-color: $light-grey-color;
        transition: 0.7s;
      }
    }

    .active {
      color: black;
      font-weight: 600;
    }
  }

  img {
    border-radius: 100%;
    object-fit: cover;
    height: 27px;
    width: 27px;
  }
}
